* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #000440;
    color: #ffffff;
}

body {
    background-color: rgba(0, 68, 255, 0.299);
}

.container {
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
}

.borda {
    padding: 4px; 
    background-color: rgb(86, 9, 134);
}

.row {
    margin-top: 8px;
}

button {
    margin: 8px;
}